
{% extends 'base.html.twig' %}

{% block title %}{{parent()}}-Frikyland{% endblock %}




{% block body %}

    {{parent()}}
    {{dump(post)}}

    {% for post in posts %}
        <p>{{post.title}}</p>

    
    {% endfor %}

{% endblock %}